mixin post(post) 
  article.card.mb-4
    .card-body 
      h3.card-title= post.title
      p.card-text.mb-1= post.body
      if (currentUser && currentUser.status === 'member')
        p.fst-italic.text-end.text-primary.mb-1 #{post.author.firstName} #{post.author.lastName}
      p.card-text.text-muted.text-end= post.createdAt.toDateString()
          